 
/* avis*/ 
main{
    background-color:rgb(219, 223, 226);
    width: 90%;
    margin: auto;
    height: 370px;
  }
  nav img{
    width: 20%;
    margin-left: 5%;
    margin-top: 10px;
  }
  nav{
    margin: 0%;
    padding: 0%;
    display:flex ;
    flex-direction: row;
    background-color: white;
    
  }
  .diapo{
    position: relative;
    overflow: hidden;
    
    padding-top: 3%;
    
  }
  .diapo h1{
    padding-bottom: 60px;
    padding-left: 35%;
    font-family: cursive;
    color:rgb(13, 13, 151);
  }
  #nav-droite, #nav-gauche{
    position:absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
    color:rgb(219, 108, 68);
    font-size: 5em;
  }
  
  #nav-droite{
    right:40px;
  }
  #nav-gauche{
    left: 40px;
  }
  
  .elements{
    width: 100%;
    
    display: flex;
    transition: 1s linear;
  }
  
  .element{
    flex: 1 0 100%;
    position: relative;
    margin-top: 0px;
    
   
  }
  
  .caption{
    width: 60%;
    background-color: white;
    text-align: center;
    margin-left: 20%;
    
    border-radius: 10%;
    border: 2px solid rgb(24, 23, 23);
  
  }
  
  .caption p{
    text-align: center;
    font-family:   monospace;
    font-size: 1.5em;
  
  }
  
  .caption h2{ 
    color: chocolate;
    font-size: 2em;
    padding-top: 10px;
    
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .image img{
    width: 20%;
    margin-left: 40%;
    margin-top: 15px;
  
  }
  nav h1{
    padding-left: 10%;
  }
  .btn-cmntra{
    text-decoration: none;
    justify-content: center;
    position: relative;
    left: 40%;
    width: 200px;
    height: 50px;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 20px;
    border: 2px solid rgb(24, 23, 23);
    border-radius: 20%;
    background-color:rgb(219, 223, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
    transition: ease-out 0.3s;
  }
  .btn-cmntra:hover{
    box-shadow: inset 200px 0 0 0 red;
  }
  
  .btn-cmntra a{
    text-decoration: none;
    font-size: 2em;
    color: rgb(13, 13, 151);
  }
  
  /* end avis*/
  /*formulaire de commentaire*/
  
  .input-frma {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   margin-left: 20px;
   
  
  }
  i{
    font-size: 2em;
    margin-left: 35px;
    color:midnightblue;
  }
  .cmntr-form i::first-line{
    margin-left:30px;
  }
  
  .btn-cmntr{
  width: 100px;
  height: 50px;
  margin-left:35%;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color:rgb(250, 4, 37);
  color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 rgb(50, 233, 111);
  transition: ease-in-out ;
  outline: none;
  padding: 10px;
  
  }
  .btn-cmntr:hover{
    box-shadow: inset 100px 0 0 0 rgb(50, 233, 111);
  }
  
  
  
  
  
  .acontainer{
    
    width: 90%;
    height: 500px;
    margin: auto;
    padding-left: 30px;
    background-color: rgb(230, 225, 233);
    margin-bottom:5% ;
   
    
  }
  .acontainer h1{
    text-align: center;
    align-items: center;
    padding-top: 15px;
    font-size: 3.5em;
  }
  
  .acontainer img{
    width: 15%;
    margin-left:  20px;
    transform: rotate(-30deg);
    
    
  }
  .cmntr-form{
   background-color:white;
   border: 3px solid black;
   padding-left: 60px;
   padding-top: 10px;
   width: 60%;
   margin: auto;
   border-radius: 20%;
   
  
   
  }
  
  #nom{
     width: 180px;
     height: 23px;
     margin-top: 8px;
     margin-left: 35px;
     border: 2px solid rgb(66, 66, 117);
     background-color: rgb(225, 235, 245);
     border-radius: 5%;
     
     
     
  
  }
  #cmntr{
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
    border: 2px solid rgb(66, 66, 117);
    background-color:rgb(225, 235, 245);
    border-radius: 5%;
    
  }
  .acontainer .input-frma:first-child{
    margin-left: 140px;
    width: 20px;
  }
  /*fin de formulaire*/