*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    
    
    
}

 .header{
    min-height: 100vh;
    background-image: url("campus.png");
    
    
  
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;     
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
 nav img{
    width: 50px;
}
.menu{
    flex= 1;
    text-align: right;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.menu ul li a {
    color: azure;
 
    font-size: 14px;
}
.description{
    width: 90%;
    color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.description h1{
    font-size: 70;
}
.description p{
    margin: 10px 0 40px;
    font-size: 20px;
}
/* cards view*/
.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
  }
  
  .cards * {
    box-sizing: border-box;
  }
  
  .card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
  }
  
  .card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
  }
  
  .card__content > p:first-of-type {
    margin-top: 0;
  }
  
  .card__content > p:last-of-type {
    margin-bottom: 0;
  }
  
  .card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
  }
  
  .card__info i {
    font-size: 0.9em;
    margin-right: 8px;
  }
  
  .card__link {
    color: #64968c;
    text-decoration: none;
  }
  
  .card__link:hover {
    text-decoration: underline;
  }
  