*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    
    
    
}

 .header{
    min-height: 100vh;
    background-image: url("campus.png");
    
    
  
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;     
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
 nav img{
    width: 50px;
}
.menu{
    flex= 1;
    text-align: right;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.menu ul li a {
    color: azure;
 
    font-size: 14px;
}
.description{
    width: 90%;
    color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.description h1{
    font-size: 70;
}
.description p{
    margin: 10px 0 40px;
    font-size: 20px;
}