p{font-size:20px;font-family:cursive;}
.titre span{
	color:#fb911f;
	font-size:100px;
	font-style:italic;
}
.titre {
	font-size:50px;
	color:rgb(36, 35, 35);
	font-style:italic;
	
}
body {
	font-size:30px;
	background-image: url("/static/fond.PNG");
	margin:0;
	padding:0;
}
.container{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width: 900px;
	padding:30px;
	background:#fff;
	box-sizing:border-box;
	border-radius:10px;
	box-shadow: 0 15px 50px rgba(0,0,0,.2);

}
.circle{
	width: 200px;
	height:200px;
	background-size:100% 100%;
	border-radius:50px;
	box-shadow: 0 15px 50px rgba(0,0,0,.2);
    float:left;
	shape-outside:circle();
	margin:30px;
	background: url("/static/background.JPG");
}