<!DOCTYPE html>
<html lang="fr">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fichiers CSS -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/static/style3.css">
    <title>Document</title>
 </head>
 <body>
      <nav>
         <img src="/static/Image-témoignage logo.png" alt="">
         <h1>Voici quelque temoignages de notre clients sur l'école:</h1>
         <a href="/">home</a>
      </nav>
   
     
      <main>
       
       
        <!-- Conteneur principal de tout le diaporama -->
        <div class="diapo">
            <!-- Conteneur des "diapos" -->
            <div class="elements">
                
                <!-- Première diapo -->
                <div class="element ">
                    
                    <div class="caption">
                        
                        <h2>sonia mihoubi </h2>
                        <p>"Une école magnifique, des cours professionnels au sens propre du terme, un excellent support technique, et franchement, les mots ne peuvent exprimer mes remerciements et ma gratitude au responsable de l'école." </p>
                    </div>
                </div>
               <!-- Deuxième diapo -->
               <div class="element">
                
                   <div class="caption">
                     
                     <h2>salim bensalah </h2>
                     <p>"L’ecole travaille avec des formateurs ayant un très bon niveau, sans oublier leur souplesse et leur adaptabilité.on était une équipe formidable, je passe mes salutation a mes collegues"</p>
                   </div>
               </div>
              
                {% for aviss in  lesavis %}
              
                      <div class="element">
          
                          <div class="caption">
                           
                            
                              <h2> {{aviss.nom}}</h2>
                              <p>  {{aviss.Commentaire}} </p>
                          </div>
                            
                                
                               
                            
                      </div>
                          
                        
                  
                {% endfor %}
             
              
               
           </div>
            <!-- Flèches de navigation -->
            <i id="nav-gauche" class="las la-chevron-left"></i>
            <i id="nav-droite" class="las la-chevron-right"></i>
            <div class="image">
              <img src="/static/stars.png" alt="">
            </div>
            
        </div>
    </main>
    <div class="btn-cmntr">
      <a href="/cmntr" > Donnez votre avis</a> 
    </div>
    
    

     
        <script src="/static/javac.js"></script>
   

   </body>
</html>