<html>
    <head>
        <title>eLearning Site</title>
        <link rel="stylesheet" href="/static/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
<script>
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
    </head>


    <body>
       
          
   

        <section class="header" >
            <nav>
                <a href="/"> <img src="/static/logo.png">  </a>


              <div class="menu">
                  <ul>
                      <li><a href="">ACCEUIL</a></li>
                      <li><a href="">FORMATION</a></li>
                      <li><a href="">RECHERCHES</a></li>
                      <li><a href="">CONTACT</a></li>
                      
                  </ul>

                  

              </div>  

            </nav>

            <div class="description">
                <h1>NOM DE L'ECOLE</h1>
                <p>Voici un bref descriptif de l'ecole et toute les formations qu'elle propose </p>
    


            </div>
        

        </section>
        <section class="cards">
          {% for formation in formations %}
        
                <div class="cards">
  
                    <div class="card">
                      <img class="card__image" src="static/java.jpg" alt="">
                      <div class="card__content">
                        <h1> {{formation.titredb}}</h1>
                        <p>
                            Une description de la formation et de ces composants
                        </p>
                      </div>
                      <div class="card__info">
                        
                        <div>
                          <a href="./" class="card__link">Details</a>
                        </div>
                      </div>
                    </div>
                    
                  </div>
            
            {% endfor %}
          </section>

            
        

      
          
    </body>
</html>