<html>
    <head>
        <title>eLearning Site</title>
        <link rel="stylesheet" href="static/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    </head>


    <body>
       
          
   

        <section class="header" >
            <nav>
                <a href="/"> <img src="static/logo.png">  </a>


              <div class="menu">
                  <ul>
                      <li><a href="">ACCEUIL</a></li>
                      <li><a href="">FORMATION</a></li>
                      <li><a href="">RECHERCHES</a></li>
                      <li><a href="">CONTACT</a></li>
                      
                  </ul>

                  <p>application web</p>

              </div>  

            </nav>

            <div class="description">
                <h1>NOM DE L'ECOLE</h1>
                <p>Voici un bref descriptif de l'ecole et toute les formations qu'elle propose </p>
    


            </div>
        

        </section>
        <section class="formations">
                <div class="">
                <h1>Les Formations</h1>
                <p>Voici un bref descriptif des formations et toute les formations qu'elle propose </p>
                </div>
    


            
        

        </section>
          
    </body>
</html>