
 <link rel="stylesheet" href="/static/style4.css">


  <body  class="bodyce"> 
    <br>
    <div class="container40">
        
      <div class="titre40"><center><span>C</span>ertification accréditée</center> </div>
      <br> 
        
      <p style="font-size:20px;font-family:cursive">
        Après avoir réussi dans l'examen de fin d'études, notre école vous délivre un certificat internationalement reconnu et accrédité.
      </P>
      <img class="displayed12" src="/static/deplome1.PNG" />
    </div>
    <a href="/apropos">Retour</a>
  </body>  
