<!DOCTYPE html>
<html>
  <head>
    <meta keywords="htmls,learn,teach"/>
    <link rel="stylesheet" href="/static/style4.css">
    <title>apropos</title>
    
  </head>
  <body> 
    <br>
    <div class="container">
        
        <div class="titre"><center><span>C</span>ertification accréditée</center> </div>
        <br> 
        
        <p>
        Après avoir réussi dans l'examen de fin d'études, notre école vous délivre un certificat internationalement reconnu et accrédité.
        </P>
        <img class="displayed" src="/static/deplome1.PNG" />
    </div>
    
  </body>  

</html>