{% extends 'base.html' %}
{% block style %} 

   <link rel="stylesheet" href="">

{% endblock %}
        
{% block content %}
<div class="containerK">
    <div class="descriptionK">
         
        <h1> Le Programme De Notre Formation en {{formations.titredb}}</h1>
        <br> 
        <div class="descK">
                <div class="photoK">
                    <img src="/static/bdd/{{formations.titredb}}.png" alt="" width="100px" >
                </div>
        
                  <pre> {{formations.desc_longdb}}</pre>

                  <div class="btn-inscription">
                    <a href="#" > <i> S'inscrire </i> </a> 
                </div>
        </div>
          

          
    </div>
</div>
    
    
{% endblock %}
   

