
 <link rel="stylesheet" href="/static/style2.css">



  <body  class="bodyec">
    <br>
    
    <div class="container1">
      <div  class="circle">   </div>
      <div class="titre11"><center><span>A</span>propos de notre école</center> </div>
      <br>  
      <p style="font-size:20px;font-family:cursive"> Fondée en 2000, Devschool est un  école nationale privée qui enseigne la programation web.Il est sous la tutelle du 
        ministère de l'éducation et de l'enseignement supérieur de l'état de l'algérie.hâte d'établir une
        génération distinguée avec une forte personnalité armée de science et de connaissances pour relever intelligemment
        les défis de la vie.<br><br>Notre mission est d'encourager les étudiants à acquérir les connaissances et les compétences
        nécessaires pour faire face aux appareils technologiques et de leur donner les commandes nécessaires pour leur fournir
        le service qu'ils recherchent dans l'apprentissage des langages de programmation en proposant une gamme de cours dispensés 
        par des des enseignants expérimentés qui travaillent ensemble pour offrir le meilleur.<br><br>L'un des avantages de notre 
        école est d'obtenir un certificat accrédité au niveau international à la fin de l'un de ces cours.
      </p>
      <br><br>
    </div>
    <a href="/apropos">Retour</a>

  </body>  
