{% extends 'base.html' %}
{% block style %} <link rel="stylesheet" href="/static/main.css">
<script>
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
{% endblock %}
{% block content %}

       

        
          <section id="about" class="about container">
            <div class="about-info">
              <h1 class="about-info-heading">Formations que nous proposons</h1>
              <p class="about-info-desc">L’apprentissage de la programmation de projet dynamique donnera à l’étudiant de grandes possibilités et lui permettra de développer n’importe quel projet.
            </div>
            
           
            
          </section>
          
            <form name="filter" action="/formations/" method="POST">
              <input   name="flag"  type="hidden" placeholder="titre de la formation"  value="1" />
              <div>
                CHOISIR UNE CATEGORIE :  <select name="Categoriefilter">
                     <option value="">Choisir une categorie</option>
                     <option value="Developpement Web">Developpement Web</option>
                     <option value="Developpement mobile">Developpement mobile</option>
                     <option value="Desktop Developpement">Desktop Developpement</option>
                 </select>
                 <input type="submit" value="Rechercher" class="btncategorie"/>
    
                 </div>
                </form>
              
          <section class="cardsection">
           
            <div class="cardsection grid">
              {% for formation in formations %}
                <div class="grid-item">
                  <div class="card">
                    <img class="card-img" src="/static/bdd/{{formation.file_name}}" alt="web" />
                    <div class="card-content">
                      <h1 class="card-header">{{formation.titredb}}</h1>
                      <p class="card-text">
                        {{formation.desc_courtedb}}
                      </p>
                      <a href="{{url_for('detailspage',formation_titre=formation.titredb)}}" class="card-btn" >Détails <span>&rarr;</span></a>
                    </div>
                  </div>
                </div>

              {% endfor %}
                
              </div>
              
            
          </section>
       
            
        

      
{% endblock %}