{% extends 'base.html' %}
{% block content %}
<section class="header" >
          
 
  
    <div class="description">
        <h1>Devschool</h1>
        <p>Apprenez les métiers du web et améliorez vos compétences </p>
        <a href="/apropos" type="button" class="cta">En Savoir plus</a>
        
        <a href="/contacte" type="button" class="cta a">Contacter nous</a>
      </span>
      


    </div>


</section>

  <section id="about" class="about container">
    <div class="about-info">
      <h1 class="about-info-heading">Formations que nous proposons</h1>
      <p class="about-info-desc">L’apprentissage de la programmation de projet dynamique donnera à l’étudiant de grandes possibilités et lui permettra de développer n’importe quel projet.</p>
      
    </div>
    
  </section>
  <section class="cardsection">
    <div class="cardsection grid">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/web.jpg" alt="web" />
            <div class="card-content">
              <h1 class="card-header">Developpement Web</h1>
              <p class="card-text">
                Le développement Web est le codage ou la programmation qui 
                permet de faire fonctionner un site Web, selon les exigences du propriétaire.
              </p>
              
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img
              class="card-img"
              src="/static/mobile.png"
              alt="mobile"
            />
            <div class="card-content">
              <h1 class="card-header">Developpement Mobile</h1>
              <p class="card-text">
                Développement d'applications sur-mesure au prix juste. 
                Application disponible sur iOS et Android.Avec les Dernières Technologies.
               
              </p>
              
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/desktop.jpg" alt="desktop" />
            <div class="card-content">
              <h1 class="card-header">Desktop Developpement</h1>
              <p class="card-text">
                Apprenez à créer une application Desktop grâce au langage Java, vous ménerez 
                ce projet de sa conception à sa publication en gérant l'interface graphique
              </p>
              
            </div>
          </div>
        </div>
      </div>
  </section>

  <!--srg-->
  <section>
    <div class="containera">
      <div class="heading">
        <h3>Photo <span>De l'ecole</span></h3>
      </div>
      <div class="box">
        
        <div class="dream">
          <img src="/static/ecole1.jpg">
          <img src="/static/ecole2.jpg">
          <img src="/static/ecole3.jpg">
          <img src="/static/ecole4.jpg">
              
        </div>
  
          <div class="dream">
            <img src="/static/ecole5.jpg">
            <img src="/static/ecole6.jpg">
            <img src="/static/ecole7.jpg">
            <img src="/static/ecole8.jpg">
              
        </div>
  
          <div class="dream">
            <img src="/static/ecole9.jpg">
            <img src="/static/ecole10.jpg">
            <img src="/static/ecole11.jpg">
            <img src="/static/ecole12.jpg">
              
        </div>
  
  
  
  
      </div>
      <div class="btn">
        <a href="#">More</a>
      </div>
  
  
  
  
  
    </div>
</section>

{% endblock %}



