<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name=" keywords " content="Web,HTML">
        <link rel="stylesheet" href="/static/style1.css">
    </head>
    <body>
        <div class="menu-bar">
            <ul>
                <li><a>apropos</a> 
                    <ul>
                        <li> <a href="/ecole">qui sommes nous </a> </li>
                        <li><a href="/paiement">paiement</a></li>
                    
                        <li><a href="/certificat">certification accréditée</a></li>
                    </ul>
                </li>

            </ul>
            
      
        </div>

    </body>
</html>
