{% extends 'base.html' %}
{% block content %}
<section class="header" >
          
 
  
    <div class="description">
        <h1>NOM DE L'ECOLE</h1>
        <p>Voici un bref descriptif de l'ecole et toute les formations qu'elle propose </p>
        <a href="#projects" type="button" class="cta">En Savoir plus</a>
        
        <a href="#projects" type="button" class="cta a">Contacter nous</a>
      </span>
      


    </div>


</section>

  <section id="about" class="about container">
    <div class="about-info">
      <h1 class="about-info-heading">Formations que nous proposons</h1>
      <p class="about-info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi suscipit quidem ullam voluptates repellendus explicabo placeat, expedita ratione saepe eaque dolorum sed deleniti, odit numquam, nostrum tempore quos corrupti rem.</p>
      
    </div>
    
  </section>
  <section class="cardsection">
    <div class="cardsection grid">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/web.jpg" alt="web" />
            <div class="card-content">
              <h1 class="card-header">Developpement Web</h1>
              <p class="card-text">
                Rome is known for its stunning <strong> architecture</strong>,
                with the Colleseum, Pantheon, and Trevi Fountain as the main
                attractions.Colleseum, Pantheon, and Trevi
              </p>
              <button class="card-btn">Visit <span>&rarr;</span></button>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img
              class="card-img"
              src="/static/mobile.png"
              alt="mobile"
            />
            <div class="card-content">
              <h1 class="card-header">Developpement Mobile</h1>
              <p class="card-text">
                One of the world's natural wonders, the iconic Grand Canyon draws
                oohs and aahs from visitors perched at the edge of its
               
              </p>
              <button class="card-btn">Visit <span>&rarr;</span></button>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/static/desktop.jpg" alt="desktop" />
            <div class="card-content">
              <h1 class="card-header">Desktop Developpement</h1>
              <p class="card-text">
                The Maldives are known for their
                <strong>natural environment</strong> including the blue ocean,
                white beaches, and clean air, attracting tourists.
              </p>
              <button class="card-btn">Visit <span>&rarr;</span></button>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!--srg-->
  <section>
    <div class="containera">
      <div class="heading">
        <h3>Photo <span>De l'ecole</span></h3>
      </div>
      <div class="box">
        
        <div class="dream">
          <img src="/static/desktop.jpg">
          <img src="/static/desktop.jpg">
          <img src="/static/desktop.jpg">
          <img src="/static/desktop.jpg">
          <img src="/static/desktop.jpg">
              
        </div>
  
          <div class="dream">
            <img src="/static/desktop.jpg">
            <img src="/static/desktop.jpg">
            <img src="/static/desktop.jpg">
            <img src="/static/desktop.jpg">
            <img src="/static/desktop.jpg">
              
        </div>
  
          <div class="dream">
            <img src="/static/desktop.jpg">
            <img src="/static/desktop.jpg">
            <img src="/static/desktop.jpg">
            <img src="/static/desktop.jpg">
            <img src="/static/desktop.jpg">
              
        </div>
  
  
  
  
      </div>
      <div class="btn">
        <a href="#">More</a>
      </div>
  
  
  
  
  
    </div>
</section>

{% endblock %}



