
 <link rel="stylesheet" href="/static/style3.css">



  <body class="bodypa">
    <div class="container30">
      
      <div class="titre12"><center><span>P</span>aiement</center> </div>
      <br> 
      <div class="paiement">
        <h1>Frais de scolarité :</h1>
        <table>
          <tr><th class="couleur30">spécialité</th><th  class="couleur30">module</th><th  class="couleur30">paiement</th></tr>
          <tr><th rowspan=2 class="couleur30">developement web</th><td><img src="/static/htmlcssjs.PNG" class="image30"></td><td>5.000DA</td>
          <tr><td><img src="/static/reactangularvue.PNG" class="image30"></td><td>7.000DA</td></tr>
          <tr><th class="couleur30">development mobile</th><td><img src="/static/development.PNG" class="image30"></td><td>9.000DA</td>
          <tr><th class="couleur30">Desktop</th><td><img src="/static/desktop.PNG" class="image30"></td><td>10.000DA</td>
        </table>
        
       
       
      
        <h1>Offre pour vous :</h1>
        <p>
          *Si vous étudiez deux matières de la même spécialité, vous bénéficierez d'une réduction de (-10%)sur le montant total.<br>
          *Si vous étudiez tous les matières , vous bénéficierez d'une réduction de (-30%)sur le montant total. 
        </p>
    
        <h1>Politique de frais :</h1>
    
        <ul>
          <li>Les frais doivent être payés en totalité en espèces avant le premier jour de travail de l'étudiant, et l'école a le droit
            de ne pas recevoir l'étudiant en cas de retard de paiement.
          </li>
          <li>En cas de non-paiement des frais ou de retards de paiement fréquents,l'école a le droit de refuser l'étudiant pour le semestre
            suivant ou l'année scolaire suivante.
          </li>
          <li>Le paiement par mensualités n'est pas accepté.</li>
          <li>Les frais d'inscription pour les nouveaux étudiants ne sont pas remboursables.</li>
          <li>Dans le cas où l'étudiant ne revient pas, les frais ne sont pas remboursables.</li>
        </ul>
      </div>
    </div>
    <a href="/apropos">Retour</a>
  </body>  
